name: Ember compare asset sizes

on:
  workflow_call:
    secrets:
      npm-token:
        required: true

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup npm token for private packages
      run: echo //registry.npmjs.org/:_authToken=${{ secrets.npm-token }} > ~/.npmrc
    - uses: actions/checkout@v2.3.4
      with:
        # when using pull_request_target, need to specify what sha to compare against (otherwise it does PR base)
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0
    - uses: blake-education/ember-asset-size-action@main
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        show-totals: 'yes'
